**.DS_Store
.deploys
.states
node_modules
build
typechain
typechain-types
artifacts
artifacts*/
cache
coverage
coverage.json
.idea
*.iml
/dist
.env
launch.json
scripts/deployment/deployments/localhost
scripts/deployment/deployments/hardhat
scripts/deployments/deployPositions-*.json
scripts/deployments/bridge-*.json
scripts/test.ts
scripts/test-*.ts
.VSCodeCounter/
.vscode/settings.json
tst.ts
package-lock.json
.DS_Store
/abi
/out
/lib
