**.DS_Store
.deploys
.states
node_modules
build
typechain
typechain-types
artifacts
artifacts*/
cache
coverage
coverage.json
.idea
*.iml
/dist
.env
launch.json

# Standardized deployment structure
deployments/localhost/
deployments/hardhat/
scripts/test.ts
scripts/test-*.ts
.VSCodeCounter/
.vscode/settings.json
tst.ts
package-lock.json
/abi
/out
/lib
/.claude
