name: CI
on:
  push:
    branches: [develop, main]
  pull_request:
    branches: [develop, main]

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '22.x'
          cache: 'yarn'
      - name: Install packages
        run: yarn install --frozen-lockfile
      - name: Create dummy .env from .env.example
        run: mv .env.example .env
      - name: Compile contracts
        run: yarn compile
      - name: Run Tests
        run: CI=true yarn test
